<html lang="en-us">
	<head>
		<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AngularjS - Model View Pizza</title>
		<link href="http://fonts.googleapis.com/css?family=Sarala:400,700" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/assets/styles/main.min.css" />
		<link rel="icon" type="x-icon/image" href="/assets/images/favicon.ico" />
		<script src="/assets/scripts/config.js"></script>
	</head>
	<body>
		<nav class="page-nav">
			<div class="grid stage-center">
				<div class="width-1-2">
					<a href="/">
						<img src="/assets/images/logo with text.svg" height="38" />
                    </a>
					<a class="nav-item" target="_blank" href="https://github.com/notoriousb1t/modelviewpizza">
                        GitHub
                    </a>
				</div>
				<div class="width-1-2">
				</div>
			</div>
		</nav>
		
		<div ng-app="app" ng-controller="OrderController" class="page-content">
			<div class="grid stage-center">
				<div class="width-1-2 hidden-sm">
					<div id="cuttingBoard" class="pizza" ng-class="{ pizzaMedium: size == 'Medium', pizzaLarge: size == 'Large' }">
                        <img ng-attr-src="{{ '/assets/images/pizza/' + crust + '.png' }}" class="topping" />
                        <img ng-attr-src="{{ '/assets/images/pizza/' + sauce + '.png' }}" class="topping" />
                        <img ng-attr-src="{{ '/assets/images/pizza/' + cheese + '.png' }}" class="topping" />
                        <div ng-repeat="topping in toppings">
                            <img ng-attr-src="{{ '/assets/images/pizza/' + topping + '.png' }}" class="topping" />
                        </div>
                    </div>
				</div>
				<div class="width-1-2">
					<div class="pane level-3">
						<div ng-show="step == steps.start" ng-cloak>
							<div class="form-group">
		                        <h3>Pick a Size</h3>
		                        <select ng-options="size for size in options.sizes" ng-model="size" class="ddl" aria-label="Pick a size">
								</select>
							</div>
							<div class="form-group">
								<h3>Pick a Pizza</h3>
		                        <select ng-options="preset for preset in options.presets" ng-model="preset" class="ddl" aria-label="Pick a pizza">
								</select>
							</div>
						</div>
						<div ng-show="step == steps.sauce" ng-cloak>
							<div class="form-group">
								<h3>Select Crust</h3>
		                        <select ng-options="crust for crust in options.crusts" ng-model="crust" class="ddl" aria-label="Select Crust">
								</select>
							</div>
							<div class="form-group">
		                        <h3>Select Sauce</h3>
		                        <select ng-options="sauce for sauce in options.sauces" ng-model="sauce" class="ddl" aria-label="Select Sauce">
								</select>
							</div>
							<div class="form-group">
								<h3>Select Cheese Intensity!</h3>
		                        <select ng-options="cheese for cheese in options.cheeses" ng-model="cheese" class="ddl" aria-label="Select Cheese Intensity!">
								</select>
							</div>
	                    </div>
						
						<div ng-show="step == steps.toppings" ng-cloak>
							<h3>Customize Your Toppings!</h3>
							<div class="form-group checkboxlist-inline">
								<label ng-repeat="topping in options.toppings">
									<div class="checkbox">
										<input
										    type="checkbox"
										    value="{{topping}}"
										    ng-checked="hasTopping(topping)"
										    ng-click="toggleTopping(topping)"> 
										<span ng-bind="topping"></span>
									</div>
								</label>
							</div>
						</div>
						<div ng-show="step == steps.done" ng-cloak class="text-center">
							<h4>Your {{preset}} is done!</h4>
							<p>
								Your {{size}} {{crust}} pizza has <span ng-repeat="topping in toppings">{{topping}}, </span>
								{{sauce}}, and {{cheese}}.
							</p>
							<p>
								<small>Once you are finished with that slice...</small>
							</p>
							<h5>be sure to checkout the source on 
								<a target="_blank" href="https://github.com/notoriousb1t/modelviewpizza/tree/master/projects/angularjs1">GitHub!</a>
							</h5>
						</div>
						
						<div class="form-group text-center">
							<button ng-show="step > steps.start" ng-click="prev()" class="btn">
								&laquo; Prev
							</button>
							<button ng-click="next()" class="btn btn-inverse">
								<span ng-bind="nextText()"></span> &raquo;
							</button>
						</div>
                    </div>
					
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="ng-app.js"></script>
	</body>
</html>